doctype html
html
  head
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0', charset='utf-8')
    meta(name="apple=mobile-web-app-capable", content="yes")

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    block content
